@using LogicaNegocio
@model List<Subasta>

@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-info">
        @ViewBag.Mensaje
    </div>
}

<table class="table table-hover table-dark w-100">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha Publicacion</th>
            <th scope="col">Precio</th>
            <th scope="col">Cerrar Publicacion</th>



        </tr>
    </thead>
    <tbody>
        @foreach (Subasta subasta in Model)
        {
            <tr>
                <th scope="row">@subasta.Nombre</th>
                <th scope="row">@subasta.Estado</th>
                <th scope="row">@subasta.FechaPublicacion</th>
                <th scope="row">@subasta.MayorPuja()</th>
                @if(subasta.Estado == Estado.Abierta)
                {
                    <th>
                        <form method="post" asp-action="CerrarSubasta" asp-controller="Administradores">
                            <input type="hidden" name="id" value="@subasta.Id" />
                            <div class="mb-3 d-flex">
                                <button type="submit" class="btn btn-danger">Cerrar Subasta</button>
                            </div>
                        </form>
                    </th>
                }else
                {
                    <th></th>
                }
                
            </tr>
        }
    </tbody>
</table>